<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<!-- Directives Modify the dom - Structural - modify the dom by taking away or removing elements Attribute - directives modify the attributes of elements in the dom -->

<div> NG templating if case is used when you have truth of false case</div>

<div *ngIf="courses.length > 0; then coursesList else noCourses">

    <ng-template #coursesList>
        List of courses
    </ng-template>

    <ng-template #noCourses>
        No courses yet
    </ng-template>
</div>


<div [hidden]="courses.length == 0">
    List of courses2
</div>


<div [hidden]="courses.length > 0">
    No courses yet2
</div>


<br>----------------------------------------------<br>

<div>ng Switch Case - multiple cases</div>

<ul class="nav nav-pills">
    <li [class.active]="viewMode =='map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode =='list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">list VIew content</div>
    <div *ngSwitchDefault>Default</div>
</div>



<br>------------------------------------------------<br>

<div>NG FOR</div>

<ul>
    <li *ngFor="let test of tests; index as i">
        {{ i }} - {{ test.name }} <button (click)="onChange(test)">Button</button>

    </li>
</ul>

<button (click)="onAdd()">Button</button>

<ul>
    <li *ngFor="let test of tests; even as isEven">
        {{ test.name }}<span *ngIf="isEven">(even)</span>
    </li>
</ul>

<button (click)="loadCourses()">Load Courses</button>
<ul>
    <li *ngFor="let test of tests; trackBy: trackCourse">
        {{ test.name }}
    </li>
</ul>

<br>------------------------------------------------<br>

<span>*******Class Binding******</span>

<span [class.glyphicon-start]="isSelected" [class.glyphicon-start-empty]="!isSelected" [ngClass]="{
    'glyphicon-start':isSelected,
    'glyphicion-star-empty':!isSelected}" (click)="onClick()"></span>



<span>*******Safe traverse operator******</span>
<div>{{task.assignee?.name}}</div>