<!DOCTYPE html>

<!-- Directives Modify the dom - Structural - modify the dom by taking away or removing elements Attribute - directives modify the attributes of elements in the dom -->

<div *ngIf="courses.length > 0; then coursesList else noCourses">
    <ng-template #coursesList>
        List of courses
    </ng-template>


    <ng-template #noCourses>
        No courses yet
    </ng-template>
</div>



<div [hidden]="courses.length == 0">
    List of courses2
</div>


<div [hidden]="courses.length > 0">
    No courses yet2
</div>